<div class="container-fluid">
    <div class="panel panel-primary card">
        <div class="panel-heading">Lista de Produtos</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table ng-table="vm.tableParams" class="table table-striped table-hover table-condensed" show-filter="true">
                    <tr ng-repeat="aluno in $data">
                        <td title="'Id'"
                            filter="{ id: 'number'}"
                            sortable="'id'">
                            {{aluno.id}}
                        </td>
                        <td title="'Nome'"
                            filter="{ nome: 'text'}"
                            sortable="'nome'">
                            {{aluno.nome}}
                        </td>
                        <td title="'CPF'"
                            filter="{ cpf: 'number'}"
                            sortable="'cpf'">
                            {{aluno.cpf}}
                        </td>
                        <td title="'Data de Nascimento'">
                            {{aluno.dtaNascimento}}
                        </td>
                        <td title="'Status'">
                            <switch name="onOff"
                                    ng-model="aluno.ativo"
                                    on="Ativo"
                                    off="Inativo"
                                    ng-change="vm.atualizarStatus(aluno)"></switch>
                        </td>
                        <td title="'Editar'">
                            <button class="btn btn-info btn-sm"
                                    ng-click="vm.editar(aluno)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>