<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <title>Conexus</title>
    <link rel="icon" href="favicon.ico" sizes="32x32">
</head>
<body ng-app="ngApp" ng-controller="IndexCtrl">
	<div class="">
      <div ui-view>
      	
      </div>
      <toaster-container toaster-options="{'position-class': 'toast-bottom-center'}"></toaster-container>
    </div>
<hr/>
</body>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/angular-mocks.js"></script>
<script src="js/lib/angular-ui-router.min.js"></script>
<script src="js/lib/angular-animate.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/lib/ng-table.min.js"></script>
<script src="js/lib/angular-ui-switch.min.js"></script>
<script src="js/lib/ngMask.min.js"></script>
<script src="js/lib/toaster.min.js"></script>
<script src="js/lib/dayjs.min.js"></script>
<script src="js/lib/d3.min.js"></script>
<script src="js/lib/angular-charts.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers/IndexCtrl.js"></script>
<script src="js/controllers/BaseCtrl.js"></script>
<script src="js/controllers/LoginCtrl.js"></script>
<script src="js/controllers/AlunoCtrl.js"></script>
<script src="js/controllers/CursoCtrl.js"></script>
<script src="js/controllers/IntegracaoCtrl.js"></script>
<script src="js/controllers/DashboardCtrl.js"></script>
<script src="js/controllers/ProdutoCtrl.js"></script>
<script src="js/controllers/ComprasCtrl.js"></script>

<script src="js/services/AlunoSrv.js"></script>
<script src="js/services/CursoSrv.js"></script>
<script src="js/services/IntegracaoSrv.js"></script>
<script src="js/services/DashboardSrv.js"></script>
<script src="js/services/AuthSrv.js"></script>
<script src="js/services/LoginSrv.js"></script>
<script src="js/services/ProdutoSrv.js"></script>
<script src="js/services/ComprasSrv.js"></script>

<link rel="stylesheet" type="text/css" href="css/lib/toaster.min.css">
<link rel="stylesheet" type="text/css" href="css/lib/angular-ui-switch.min.css">
<link rel="stylesheet" type="text/css" href="css/lib/callout.css">

<link rel="stylesheet" type="text/css" href="css/app/main.css">
<link rel="stylesheet" type="text/css" href="css/app/custom.css">
<link rel="stylesheet" type="text/css" href="css/app/glyphicons.min.css">


<link rel="icon" href="favicon.ico" sizes="32x32">

</html>